[Desktop Entry]
Type=Application
Exec=/usr/bin/dockerd
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Dockerd
Name=Dockerd
Comment[en_US]=
Comment=
