[Desktop Entry]
Type=Application
# For wayland
# but not working
Exec=env QT_QPA_PLATFORM=wayland /bin/flameshot
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Flameshot
Name=Flameshot
Comment[en_US]=
Comment=
